# TypeScript
*.d.ts linguist-language=TypeScript

# Auto detect text files and perform LF normalization
* text=auto

# Exclude files from archive
.eslintignore export-ignore
.eslintrc export-ignore
.gitattributes export-ignore
.prettierignore export-ignore
.prettierrc.json export-ignore
.vscode export-ignore
patch.cjs export-ignore
