# TypeScript
*.d.ts linguist-language=TypeScript

# Auto detect text files and perform LF normalization
* text=auto

# Exclude files from archive
/_docs/* export-ignore
/.github/* export-ignore
/.vscode/* export-ignore
eslint.config.mjs export-ignore
.gitattributes export-ignore
.prettierignore export-ignore
.prettierrc.json export-ignore
patch.mjs export-ignore
tsconfig.json export-ignore
yarn.lock export-ignore
